@{
    ViewData["Title"] = "Prenotazione Eventi Crociera";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto!</h1>
    <p>Questa applicazione ti permetterà di prenotare i posti dei tuoi eventi preferiti sulla nostra Crociera!</p>
    <div>
        <img src="~/img/crociera.jpeg">
    </div>
</div>
