@{
    ViewData["Title"] = "Area riservata utente";
}

<section class="cover_user">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-3 text-center">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-12 p-3 text-center">
                <button class="btn btn-primary btn-lg" id="prenotazioniUser" onclick="prenotazioniUser()">Stampa prenotazioni</button>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-light table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ID Prenotazione</th>
                                <th>ID Utente</th>
                                <th>ID Replica</th>
                                <th>Posti Prenotati</th>
                            </tr>
                        </thead>
                        <tbody id="resultDivUserPage">
                            @*popolato da JavaScript*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
